<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <style>
            .link {
                font-size: 1.2rem;
                cursor: pointer;
                background-color: #20a8d8;
                color: #fff !important;
                padding: 0.9em 2.2em;
                border-radius: 0.25rem;
                text-decoration: none;
            }
            .greeting {
                font-size: 1.1rem;
                font-weight: bold;
            }
            .instructions {
                font-size: 1.1rem;
                margin: 3em 0 2em;
            }
        </style>
    </head>
    <body>
        <p class="greeting">Pozdrav {{ user.username }},</p>
        <p class="instructions">kako biste aktivirali svoj novi korisnički račun kliknite na tipku Aktiviraj.</p>
        {# TODO: make protocol dynamic not http #}
        <a class="link" href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}"> Aktiviraj </a>
        <p class="instructions">Poruku zanemarite, ako ovaj zahtjev niste Vi izvršili.</p>
    </body>
</html>
