{% extends 'base.html' %}
{% load static %}

{% block head-content %}
    <link href="{% static 'css/users/login-register.css' %}" rel="stylesheet">
{% endblock head-content %}

{% block title %}<title>epizzeria.hr | Prijava</title>{% endblock %}

{% block content %}
    <form action="" class="form" method="POST" novalidate>
        {% csrf_token %}
        <h3>Prijava</h3>
        {% for field in form %}
            <div class="form-field">
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="nonfield-error">{{ error }}</p>
            {% endfor %}
        {% endif %}
        <button class="submit-btn" type="submit">Prijavite se</button>
        <a class="forgot-pass" href="#">Zaboravili ste lozinku?</a>
    </form>
    <p class="register-link">Nemate korisnički račun? <a href="{% url 'register' %}">Napravite ga.</a></p>
{% endblock content %}