{% extends 'base.html' %}
{% load static %}

{% block head-content %}
    <link href="{% static 'css/users/login-register.css' %}" rel="stylesheet">
{% endblock head-content %}

{% block title %}<title>epizzeria.hr | Izrada računa</title>{% endblock %}

{% block content %}
    <form action="" class="form" method="POST" novalidate>
        {% csrf_token %}
        <h3>Izrada računa</h3>
        {% for field in form %}
            <div class="form-field">
                {{ field }}
                {{ field.errors }}
                {% if field.help_text %}
                <div class="help-text-tip">
                    <div class="help-text">{{ field.help_text }}</div>
                </div>
                {% endif %}
            </div>
        {% endfor %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="nonfield-error">{{ error }}</p>
            {% endfor %}
        {% endif %}
        <button class="submit-btn" type="submit">Napravite račun</button>
    </form>
    <p class="login-link">Imate korisnički račun? <a href="{% url 'login' %}">Prijavite se.</a></p>
{% endblock content %}