{% extends 'base.html' %}
{% load static %}

{% block head-content %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="main-img img-pizza">
        <p>1. prijavi se</p>
        <p>2. odigraj</p>
        <p>3. osvoji</p>
    </div>
    <div class="main-img img-oven">
        <p>Izravno iz krušne peći.</p><br>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <script>
        let tl = gsap.timeline({defaults:{duration: 0.7}});

        tl.from(".img-pizza p:nth-child(1)", {y: 30, opacity: 0})
          .from(".img-pizza p:nth-child(2)", {y: 30, opacity: 0})
          .from(".img-pizza p:nth-child(3)", {y: 30, opacity: 0})
          .from(".img-oven p", {y: 30, opacity: 0})
    </script>
{% endblock scripts %}