.form {
    width: 100%;
    max-width: 347px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    margin: 1.5em 0 0;
    padding: 2em;
}

@media (min-width: 380px) {
    form {
        border: 2px solid whitesmoke;
        border-radius: 2em;
        box-shadow: 0 5px 23px 5px whitesmoke;
    }
}

.form h3 {
    margin: 0 0 2em;
    text-align: center;
    color: #8da93d;
}

.form label {
    display: none;
}

.form-field {
    position: relative;
    width: 80%;
    margin: 0 auto 1.5em;
}

.form-field input,
.submit-btn {
    font-size: 1rem;
    border-radius: 3em;
    outline: none;
}

.form-field input::placeholder {
    color: #ababab;
    font-size: 0.85rem;
}

/*workaround for chrome input blue background*/
.form-field input,
.form-field input:hover,
.form-field input:focus,
.form-field input:active {
    width: 100%;
    text-align: center;
    transition: background-color 5000s;
    border: none;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0;
    padding: 0 0 0.35em;
}

.submit-btn {
    width: 90%;
    font-weight: 700;
    color: #8da93d;
    margin: 0.8em auto 0;
    padding: 0.65em 1.5em;
    background-color: white;
    border: 1px solid #8da93d;
    cursor: pointer;
    transition: color 200ms ease-in-out,
                background-color 200ms ease-in-out
                /*border 200ms ease-in-out;*/
}

.submit-btn:hover,
.submit-btn:focus {
    color: white;
    background-color: #8da93d;
    /*border: 1px solid #8da93d;*/
}

.forgot-pass {
    font-size: 0.77rem;
    margin-top: 0.7em;
    text-decoration: none;
    text-align: center;
}

.forgot-pass,
.forgot-pass:visited,
.forgot-pass:active {
    color: initial;
}

.register-link,
.login-link {
    text-align: center;
    font-size: 0.85rem;
    margin-bottom: 2em;
}

.register-link a,
.login-link a {
    /*text-decoration: none;*/
    color: #8da93d;
}

.errorlist,
.nonfield-error {
    list-style: none;
    font-size: 0.75rem;
    padding: 0;
    text-align: center;
    color: #c00927;
}

.errorlist {
    margin: 0;
}

.nonfield-error {
    margin-top: 0;
}

/*
    help text
*/

.help-text-tip{
    position: absolute;
    top: 0;
    right: -10px;
    text-align: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-text-tip:before{
    content:'?';
    font-weight: bold;
    color: rgba(141, 169, 61, 0.56);
}

.help-text-tip:hover .help-text{
    display:block;
    transform-origin: 78% 0;

    /*-webkit-animation: fadeIn 0.3s ease-in-out;*/
    animation: fadeIn 0.3s ease-in-out;

}

.help-text {    /* The tooltip */
    display: none;
    text-align: left;
    background-color: white;
    padding: 1.5em 2em;
    width: 270px;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0 5px 23px 12px whitesmoke;
    right: -47px;
    color: #8da93d;
    font-size: 13px;
    line-height: 1.4;
    z-index: 10;
}

@keyframes fadeIn {
    0% { opacity:0; transform: scale(0.6);}
    100% { opacity:100%; transform: scale(1);}
}
