<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Erica+One&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block head-content %} {% endblock %}
    {% block title %}<title>epizzeria.hr</title>{% endblock %}
</head>
<body>
<header class="header main-grid">
    <div class="header-content">
        <a class="logo-link" href="{% url 'home' %}">
            <svg viewBox="0 0 240 80" class="logo-svg">
                <!-- <text> wrapped in <g> because transition is not supported on <text> on safari -->
                <g class="small"><text x="0" y="35">Pizzeria</text></g>
                <g class="name"><text x="10" y="70">epizzeria</text></g>
            </svg>
        </a>
        <button aria-label="Open navigation" class="open-nav-btn">&#9776;</button>
        <nav class="nav">
            <button aria-label="Close navigation" class="close-nav-btn">&times;</button>
            <ul class="nav-list">
                <li class="nav-item-group nav-item-group-products">
                    <div class="nav-item">
                        <a href="{% url 'about' %}" class="nav-link">
                            <svg class="svg-nav-icon" id="pizza-cut" viewBox="0 0 512 512">
                                <path d="M503.91,215.6719a52.9187,52.9187,0,0,0-15.6794-37.66C389.0955,62.3217,253.12,39.41,250.96,39.06a.078.078,0,0,0-.03-.01v.01a53.0972,53.0972,0,0,0-61.9316,73.9028L188.21,114.18a92.448,92.448,0,0,1-17.99,20.62c-15.51,13.21-43.82,37.14-69.29,58.63-1.48-.12-3.01-.18-4.55-.18-18.83,0-34.1,8.96-34.1,20,0,.0231.0036.0458.0037.0689v8.25a12.1582,12.1582,0,0,0,.6553,3.9075C54.0034,233.0106,48.2932,237.8224,48.07,238.01c-.16.14-.33.29-.49.44a125.81,125.81,0,0,0-31.1,135.62l25.19,67.08c.05.12.1.24.15.37,2.1,5.05,7.55,20.57,7.51,31.37v8.47a17.7558,17.7558,0,0,0,16.96,17.75c.18.01.35.01.53.01a17.5086,17.5086,0,0,0,17.49-17.49V459.363a12.3479,12.3479,0,0,0,.5393-1.3213l14.8874-44.318a72.8329,72.8329,0,0,1,47.0769-46.2492l61.3782-19.4189a27.8841,27.8841,0,0,1,5.978,8.4644c4.43,9.25,5.21,20.35,5.34,24.84v62.13a17.7665,17.7665,0,0,0,16.97,17.76c.17.01.35.01.53.01a17.515,17.515,0,0,0,17.49-17.49V391.43a17.39,17.39,0,0,0,11.06,3.95,17.1421,17.1421,0,0,0,2.26-.14,17.648,17.648,0,0,0,15.23-17.57V336.89a61.6426,61.6426,0,0,1,2.03-13.15l147.771-46.7436,27.0425-9.0123-.023-.0086A53.0936,53.0936,0,0,0,503.91,215.6719Zm-16.5923-38.5208c-.3322-.3151-.6614-.6337-1.0019-.94C486.656,176.5182,486.9858,176.8354,487.3176,177.1511ZM212.72,75.47a63.4122,63.4122,0,0,1,6.78-9.99,36.742,36.742,0,0,1,9.81-6.87,43.4021,43.4021,0,0,1,5.49-2.21c.94-.3,5.63-1.4,6.1-1.45a6.8962,6.8962,0,1,1,1.08,13.75c-.13,0-3.09.31-3.74.44a30.5907,30.5907,0,0,0-4,1.06,25.13,25.13,0,0,0-7.12,3.76,20.3428,20.3428,0,0,0-5.21,5.95,25.6569,25.6569,0,0,0-2.82,7.91l-.02.1a4.5083,4.5083,0,0,1-8.93-1.12A35.309,35.309,0,0,1,212.72,75.47Zm-1.32,27.2a6.9092,6.9092,0,1,1-5.42,8.13A6.9134,6.9134,0,0,1,211.4,102.67ZM76.82,206.87a35.8918,35.8918,0,0,1,13.16-4.19,47.8355,47.8355,0,0,1,16.32.61,33.1454,33.1454,0,0,1,9.64,3.58c3.42,2.01,5.54,4.45,5.54,6.38s-2.12,4.38-5.54,6.38c-5.01,2.94-12.13,4.62-19.56,4.62a45.39,45.39,0,0,1-12.82-1.78,29.7624,29.7624,0,0,1-6.74-2.84,17.3451,17.3451,0,0,1-3.65-2.78,5.6277,5.6277,0,0,1-1.89-3.6C71.28,211.32,73.41,208.88,76.82,206.87Zm195.23,170.8a6.6357,6.6357,0,0,1-5.63,6.66,6.2888,6.2888,0,0,1-.86.05,6.4806,6.4806,0,0,1-6.48-6.49V331.96s-.9568-7.0592-4.8375-9.5267a5.2328,5.2328,0,0,0-2.8659-.8435l-.0037,0h-.003c-3.0013,0-4.9285,3.484-6.1251,7.1268a44.6627,44.6627,0,0,0-1.7483,8.1775l.0034-.0011V443.77a6.4955,6.4955,0,0,1-6.49,6.49h-.2a6.6807,6.6807,0,0,1-6.3-6.77V381.21c-.31-12-4.03-49.88-38.33-49.88a58.8219,58.8219,0,0,0-13.17,1.62l-46.3,15.09a78.2434,78.2434,0,0,0-49.56,48.5l-4.43,12.64a112.3291,112.3291,0,0,0-5.41,33.95v38.5a6.4829,6.4829,0,0,1-6.49,6.49h-.2a6.6769,6.6769,0,0,1-6.29-6.76v-8.43c.05-15.47-8.36-35.65-8.36-35.65L26.78,370.2A115.03,115.03,0,0,1,55.16,246.42s5.655-4.77,14.6325-12.3367c6.25,4.5621,15.8355,7.4852,26.59,7.4852,18.8324,0,34.099-8.9539,34.099-19.9991v-8.3182q0,.5239-.0459,1.0239.0438-.5093.0442-1.0251c0-7.13-6.36-13.38-15.93-16.92,23.61-19.94,48.52-41,62.8-53.15a104.14,104.14,0,0,0,18.0385-19.9279A53.3105,53.3105,0,0,0,213.81,138.06q7.2,2.085,14.45,4.6c87.64,30.28,178.29,103.21,179.7,104.35-.0457-.0624-.0865-.1287-.1319-.1913a53.3875,53.3875,0,0,0,8.149,8.9022L404.3,259.46l-38.51,12.56-67.92,22.16-.03.01-3.45,1.12c-22.32,8.71-22.34,41.58-22.34,41.58ZM406.0767,244.2465q.1515.237.3054.4728Q406.2279,244.4838,406.0767,244.2465ZM450.823,255.759A40.0878,40.0878,0,1,1,490.91,215.6719,40.0469,40.0469,0,0,1,450.823,255.759Z"/>
                                <path d="M301.1917,244.0484V235.73c0-11.0453-15.2667-19.9992-34.099-19.9992s-34.099,8.9539-34.099,19.9992c0,.0442.0051.0877.0056.1319-.0005-.0445-.0056-.0872-.0056-.1319v8.3182c0,11.0452,15.2666,19.9991,34.099,19.9991S301.1917,255.0936,301.1917,244.0484Zm-53.6575-14.6965c5.0071-2.9366,12.1358-4.6209,19.5585-4.6209s14.5513,1.6843,19.5584,4.6209c3.4175,2.0044,5.5406,4.4485,5.5406,6.3783s-2.1231,4.3738-5.5406,6.3782c-5.0071,2.9366-12.1358,4.6209-19.5584,4.6209s-14.5514-1.6843-19.5585-4.6209c-3.4175-2.0044-5.5405-4.4484-5.5405-6.3782S244.1167,231.3563,247.5342,229.3519Z"/>
                                <path d="M121.233,265.2855c-18.8324,0-34.099,8.9538-34.099,19.999v8.3183c0,11.0452,15.2666,19.9991,34.099,19.9991s34.099-8.9539,34.099-19.9991v-8.3183C155.332,274.2393,140.0654,265.2855,121.233,265.2855Zm-19.5584,13.6208c5.007-2.9366,12.1358-4.6208,19.5584-4.6208s14.5514,1.6842,19.5585,4.6208c3.4175,2.0044,5.54,4.4484,5.54,6.3782s-2.123,4.3739-5.54,6.3783c-5.0071,2.9366-12.1359,4.6209-19.5585,4.6209s-14.5514-1.6843-19.5584-4.6209c-3.4175-2.0044-5.5406-4.4484-5.5406-6.3783S98.2571,280.9107,101.6746,278.9063Z"/>
                                <path d="M238.4167,287.3866H213.0033a4.9264,4.9264,0,0,0,0,9.8528h25.4134a4.9264,4.9264,0,0,0,0-9.8528Z"/>
                                <path d="M225.6426,182.32c0-8.7444-11.2182-15.091-26.6738-15.091s-26.6749,6.3466-26.6749,15.091,11.2183,15.091,26.6749,15.091S225.6426,191.0646,225.6426,182.32Zm-26.6738,5.2382c-11.0085,0-16.63-4.0258-16.823-5.2285.1925-1.2225,5.8136-5.2478,16.823-5.2478,10.9824,0,16.6007,4.0046,16.82,5.2381C215.5685,183.5537,209.9492,187.5583,198.9688,187.5583Z"/>
                                <path d="M82.8545,332.3844a42.2777,42.2777,0,0,0-16.3428,7.0533,42.2881,42.2881,0,0,0-12.447,12.7245c-4.4847,7.6254-2.5479,12.5571-.9939,14.8183,2.1832,3.1772,5.8982,4.7359,10.4629,4.7354,5.7895,0,12.9443-2.508,20.0674-7.4017A42.2858,42.2858,0,0,0,96.0481,351.59c4.4836-7.6249,2.5478-12.5566.9939-14.8182S91.5767,330.932,82.8545,332.3844Zm-4.8322,23.809c-9.0763,6.2359-15.9848,6.1-16.8258,5.2155-.533-1.1166,1.8205-7.6167,10.8938-13.85,6.4727-4.4468,11.8466-5.6525,14.7034-5.6525a3.46,3.46,0,0,1,2.1265.4451C89.4377,343.4919,87.0737,349.9747,78.0223,356.1934Z"/>
                                <path d="M59.4469,307.1038c0-2.6716-4.6185-8.4775-10.3157-8.4775s-10.3156,5.8059-10.3156,8.4775,4.6185,4.8372,10.3156,4.8372S59.4469,309.7753,59.4469,307.1038Z"/>
                                <path d="M337.45,260.3382c5.6972,0,10.3156-2.1657,10.3156-4.8372s-4.6184-8.4774-10.3156-8.4774-10.3157,5.8058-10.3157,8.4774S331.7528,260.3382,337.45,260.3382Z"/>
                                <path d="M173.6038,236.5742c-5.6972,0-10.3157,5.8058-10.3157,8.4774s4.6185,4.8373,10.3157,4.8373,10.3156-2.1658,10.3156-4.8373S179.301,236.5742,173.6038,236.5742Z"/>
                            </svg>
                            <p>Pizze</p>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="" class="nav-link">
                            <svg class="svg-nav-icon" id="burger" viewBox="0 0 512 512">
                                <path transform="scale(1.5) translate(-90, -80)"
                                      d="M414.8181,282.7737a50.893,50.893,0,0,1-6.75-6.7759l8.5359-4.9282a12.8509,12.8509,0,0,0,0-22.2577l-6.474-3.7369c8.1966-11.64,12.7444-24.3943,12.7444-37.7678,0-69.38-74.8689-125.8266-166.898-125.8266s-166.9,56.4462-166.9,125.8266c0,13.3819,4.5527,26.1443,12.76,37.7905l-6.432,3.7142a12.8488,12.8488,0,0,0,0,22.2552l8.497,4.9058a50.83,50.83,0,0,1-6.7588,6.7884c-5.5732,4.9431-11.8909,10.5436-11.8909,18.51,0,7.9637,6.3153,13.5618,11.8859,18.5a68.493,68.493,0,0,1,5.6351,5.4191c1.3578,22.668,6.2212,40.7909,21.5608,57.5764,25.5821,28.9788,76.0343,46.9808,131.6711,46.9808,55.8958,0,106.44-18.114,131.9426-47.2846,15.1443-16.7459,19.9552-34.7948,21.2977-57.3346a69.704,69.704,0,0,1,5.567-5.3446c5.5756-4.9406,11.8933-10.5437,11.8933-18.5124C426.704,293.31,420.3888,287.7119,414.8181,282.7737ZM99.2755,207.3072c0-63.7575,70.2944-115.6266,156.7005-115.6266,86.4037,0,156.698,51.8691,156.698,115.6266,0,48.7612-70.2943,88.4307-156.698,88.4307C169.57,295.7379,99.2755,256.0684,99.2755,207.3072Zm1.2277,54.9271a2.6477,2.6477,0,0,1,0-4.587l7.7721-4.4881c27.9809,31.349,83.6715,52.7787,147.7007,52.7787,64.0429,0,119.7426-21.4391,147.7167-52.7992l7.8109,4.5086a2.6477,2.6477,0,0,1,0,4.587L265.0181,346.8076a18.0524,18.0524,0,0,1-18.0268,0Zm279.82,113.4525c-.0772.0847-.1544.1694-.2341.2541l-.015.0174c-.0747.0847-.1469.1693-.2166.2565-23.7593,26.7426-71.1211,43.3326-123.8543,43.3326-52.8,0-100.3241-16.6846-124.0834-43.6065a68.4033,68.4033,0,0,1-9.103-12.5315,62.92,62.92,0,0,0,10.1464.88c4.8261.1568,9.8141.3212,12.9219,2.0544,2.4976,1.3945,4.9306,5.2842,7.2839,9.047,3.5585,5.6877,7.5927,12.135,14.3562,14.5853,6.0787,2.2014,12.608.1693,18.9233-1.7979,4.6368-1.4469,9.438-2.946,12.7973-2.1914,2.931.6474,6.4248,3.8723,9.804,6.99,4.7863,4.4176,10.2125,9.4255,17.0656,10.1452,6.4647.6748,12.3317-2.7791,18.0193-6.1235,4.1662-2.4479,8.4744-4.98,11.8411-4.98,3.3693,0,7.68,2.5326,11.8486,4.983,5.2,3.0555,10.561,6.2056,16.3757,6.2056a16.0054,16.0054,0,0,0,1.6461-.0846c6.8531-.72,12.2793-5.7276,17.068-10.1452,3.3793-3.12,6.8731-6.3452,9.8091-6.9927,3.3593-.7445,8.1555.7471,12.79,2.1915,6.3153,1.97,12.8472,4.0018,18.9183,1.7979,6.761-2.45,10.7927-8.8951,14.3512-14.5828,2.3509-3.76,4.7838-7.65,7.2765-9.0395,3.1078-1.7357,8.0958-1.8976,12.9193-2.0545a62.0442,62.0442,0,0,0,10.2331-.8971A68.173,68.173,0,0,1,380.3234,375.6868Zm27.7213-63.5333c-3.7877,3.3568-7.7023,6.8257-10.0431,11.1488-2.291,4.2334-2.7443,9.4778-3.1851,14.5479-.4856,5.5857-.9861,11.363-3.9171,13.9976-2.1466,1.9275-7.2839,2.0943-12.2519,2.2562-5.76.1868-12.2868.3984-17.5587,3.3369-4.7812,2.67-7.9189,7.6873-10.9545,12.5409-2.814,4.4973-5.7226,9.1491-9.1765,10.4016-2.8463,1.0235-7.7073-.4856-12.4114-1.9473-5.9068-1.84-12.02-3.73-18.0267-2.4131-5.623,1.2451-10.1478,5.4188-14.5231,9.458-3.7976,3.5062-7.7272,7.13-11.216,7.4956-3.1153.3336-7.5255-2.2662-11.7888-4.7713-5.344-3.14-10.87-6.3875-17.0158-6.3875-6.1434,0-11.6667,3.2473-17.0108,6.3875-4.2607,2.5051-8.6809,5.1-11.7837,4.7713-3.4889-.3661-7.416-3.9894-11.2136-7.4931-4.3728-4.0392-8.8976-8.2129-14.5181-9.458-6.0288-1.32-12.1249.5753-18.0317,2.413-4.7066,1.4643-9.57,2.9684-12.4188,1.9474-3.4565-1.2525-6.3676-5.9068-9.1816-10.4067-3.038-4.8534-6.1782-9.8712-10.9619-12.5408-5.2694-2.941-11.7988-3.1551-17.5587-3.3443-4.97-.1619-10.11-.3313-12.2569-2.2587-2.9335-2.6372-3.4341-8.4145-3.9172-14-.4382-5.07-.889-10.3145-3.18-14.5479-2.3383-4.3231-6.2529-7.792-10.0406-11.1489-4.1562-3.683-8.4518-7.4931-8.4518-10.8673,0-3.3793,4.3006-7.1918,8.4567-10.8773,1.1369-1.0083,2.2634-2.0423,3.3672-3.0964,7.452,48.6272,71.2917,86.7408,148.7015,86.7408,77.4006,0,141.2365-38.1043,148.7019-86.7227,1.1088,1.05,2.2384,2.084,3.3742,3.0907,4.1563,3.6831,8.4519,7.4906,8.4519,10.8649C416.504,304.6505,412.2034,308.4655,408.0447,312.1535Z"/>
                                <path transform="scale(1.5) translate(-90, -80)"
                                      d="M218.1245,181.03a5.0994,5.0994,0,0,0,7.2117-7.2117l-10.0855-10.083a5.0995,5.0995,0,0,0-7.2117,7.2118Z"/>
                                <path transform="scale(1.5) translate(-90, -80)"
                                      d="M218.1245,129.5372a5.0995,5.0995,0,0,0,7.2117-7.2118L215.2507,112.24a5.0994,5.0994,0,0,0-7.2117,7.2117Z"/>
                                <path transform="scale(1.5) translate(-90, -80)"
                                      d="M296.7586,181.03a5.0994,5.0994,0,1,0,7.2117-7.2117l-10.083-10.083a5.0994,5.0994,0,0,0-7.2116,7.2118Z"/>
                                <path transform="scale(1.5) translate(-90, -80)"
                                      d="M296.7586,129.5372a5.0995,5.0995,0,1,0,7.2117-7.2118L293.8873,112.24a5.0994,5.0994,0,1,0-7.2116,7.2117Z"/>
                                <path transform="scale(1.5) translate(-90, -80)"
                                      d="M250.9333,156.7778l.0149-.0028.015.0028a5.0833,5.0833,0,0,0,3.6058-1.4941l10.083-10.083a5.1092,5.1092,0,0,0-7.2391-7.2117l-10.0854,10.083a5.1,5.1,0,0,0,3.6058,8.7058Z"/>
                                <path transform="scale(1.5) translate(-90, -80)"
                                      d="M172.2394,156.7778a5.0835,5.0835,0,0,0,3.6059-1.4941l10.0829-10.083a5.0994,5.0994,0,0,0-7.2117-7.2117l-10.083,10.083a5.1,5.1,0,0,0,3.6059,8.7058Z"/>
                                <path transform="scale(1.5) translate(-90, -80)"
                                      d="M329.5973,156.7778a5.0835,5.0835,0,0,0,3.6059-1.4941l10.0854-10.083a5.0994,5.0994,0,1,0-7.2117-7.2117l-10.0854,10.083a5.1,5.1,0,0,0,3.6058,8.7058Z"/>
                            </svg>
                            <p>Burgeri</p>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="" class="nav-link">
                            <svg class="svg-nav-icon" id="salad-bowl" viewBox="0 0 410.28 507.58">
                                <path d="M0,302.44C0,415.55,92,507.58,205.14,507.58A205,205,0,0,0,410.28,302.44a8.51,8.51,0,0,0-8.5-8.5H8.5A8.51,8.51,0,0,0,0,302.44Zm393.09,8.5a188.49,188.49,0,0,1-5.57,37.8H22.78a186.85,186.85,0,0,1-5.59-37.8Zm-368.4,44.8H385.6A188.14,188.14,0,0,1,205.14,490.58C119.9,490.58,47.73,433.6,24.69,355.74Z"/>
                                <path d="M264.28,452.88a137.9,137.9,0,0,0,49.87-36.62,3.5,3.5,0,0,1,5.31,4.57A145.2,145.2,0,0,1,267,459.32a3.55,3.55,0,0,1-1.38.28,3.5,3.5,0,0,1-1.38-6.72Z"/>
                                <path d="M378.42,110.16c16.45-17.37,12.24-43,12.05-44a8.5,8.5,0,0,0-13.91-5L339.24,93.17l11.31-56.08a8.5,8.5,0,0,0-11.42-9.6c-1.12.43-27.63,11-35,36.29-3.38,11.54-2.22,23.94,3.42,37a48.22,48.22,0,0,0-21.77,1.59c-12.27,4-21.67,13.24-27.93,27.43A114.6,114.6,0,0,0,253,143.45c0,.1-.06.21-.09.31-9.35,31.94-14.73,85.5-13.71,113.66a24.5,24.5,0,0,0,14.68,21.67,24.76,24.76,0,0,0,10,2.13,24.51,24.51,0,0,0,15.89-5.87c12.91-10.94,30.63-29.33,46.26-48,12.11-14.48,22.06-28,28.77-39.1h0a112.55,112.55,0,0,0,6.7-12.6c6.27-14.18,6.76-27.34,1.46-39.11a45.66,45.66,0,0,0-9.12-13.16C363.93,121.18,372.15,116.78,378.42,110.16Zm-56.62,13h0l.26.13.3.15.27.13.08,0,.19.07.34.13.18.07c.34.11,18,6.06,24.09,19.75,3.24,7.27,2.74,15.51-1.54,25.19a84.88,84.88,0,0,1-4.15,8l-14.15-7.55a3.5,3.5,0,1,0-3.3,6.17l13.81,7.37a332.63,332.63,0,0,1-24.34,32.62l-27.21-12.53a3.5,3.5,0,1,0-2.93,6.36L309.16,221c-14,16.37-29.18,31.94-40.36,41.41a7.66,7.66,0,0,1-12.62-5.57c-.93-25.59,3.67-73.13,11.81-103.84l27.15,12.19a3.45,3.45,0,0,0,1.43.31,3.5,3.5,0,0,0,1.44-6.69l-28.08-12.61a90.89,90.89,0,0,1,3.45-9.46c4.28-9.68,10-15.6,17.58-18.1C305.26,113.87,321.63,123,321.8,123.11Zm8.08-69.51-7.7,38.14c-3.18-8.42-3.79-16.14-1.79-23.09A34.48,34.48,0,0,1,329.88,53.6Zm42.54,33.48A27.91,27.91,0,0,1,366,98.55q-6,6.33-16.73,8.41Z"/>
                                <path d="M153.92,151.61c-12.56-31-41.06-51.41-70.11-51.41H83c-.09-.24-.19-.49-.29-.73C77,85.5,59.76,79.26,44.21,85.56a32.19,32.19,0,0,0-16.66,14.92,25.87,25.87,0,0,0-1.27,21.85,24.85,24.85,0,0,0,5,7.79C18.79,150.63,17,178.29,27,203.05c12.57,31,40.68,51.37,69.88,51.42,4.54,7.47,13.07,11.8,22.29,11.8a30.25,30.25,0,0,0,11.4-2.25c14.28-5.78,21.65-21,16.43-33.84-.15-.35-.3-.7-.46-1.05C161.86,208.26,164.86,178.6,153.92,151.61Zm-24.25,71.32a8.48,8.48,0,0,0,.23,11.66,6.08,6.08,0,0,1,1.32,2c1.67,4.11-1.56,9.47-7,11.7s-11.55.63-13.22-3.49a7.07,7.07,0,0,1-.27-.95,8.49,8.49,0,0,0-9.15-6.59c-24,2.43-48.13-14.26-58.79-40.57-9-22.16-6.28-46.92,6.89-63.07a8.5,8.5,0,0,0-3-13.08,8.81,8.81,0,0,1-4.6-4.58,9.32,9.32,0,0,1,.63-7.67,15.17,15.17,0,0,1,7.94-7c6.74-2.74,14.22-.66,16.33,4.53a8.08,8.08,0,0,1,.55,3.22,8.49,8.49,0,0,0,9.76,8.62,44.08,44.08,0,0,1,6.68-.5c22.22,0,44.29,16.24,54.25,40.8C147.62,181.32,144.28,206.81,129.67,222.93Z"/>
                                <path d="M119,211.83a3.41,3.41,0,0,1-1.54.36,3.5,3.5,0,0,1-1.53-6.64A19.93,19.93,0,0,0,125,178.9a3.5,3.5,0,0,1,6.29-3.07,26.91,26.91,0,0,1-12.37,36Z"/>
                                <path d="M197.13,264.73a16.15,16.15,0,1,0,16.14-16.14A16.17,16.17,0,0,0,197.13,264.73Zm7,0a9.15,9.15,0,1,1,9.14,9.15A9.15,9.15,0,0,1,204.13,264.73Z"/>
                                <path d="M131.88,59A18.86,18.86,0,1,0,113,77.86,18.88,18.88,0,0,0,131.88,59Zm-7,0A11.86,11.86,0,1,1,113,47.15,11.87,11.87,0,0,1,124.88,59Z"/>
                                <path d="M404.31,215.06A20.34,20.34,0,1,0,384,235.39,20.36,20.36,0,0,0,404.31,215.06Zm-7,0A13.34,13.34,0,1,1,384,201.72,13.35,13.35,0,0,1,397.31,215.06Z"/>
                                <path d="M25.46,257.78a11.33,11.33,0,1,0,11.33-11.32A11.34,11.34,0,0,0,25.46,257.78Zm7,0a4.33,4.33,0,1,1,4.33,4.33A4.33,4.33,0,0,1,32.46,257.78Z"/>
                                <path d="M283.38,32.8a11.33,11.33,0,1,0-11.32,11.33A11.34,11.34,0,0,0,283.38,32.8Zm-7,0a4.33,4.33,0,1,1-4.32-4.33A4.33,4.33,0,0,1,276.38,32.8Z"/>
                                <path d="M215.62,156.21C231,135.87,247.79,104.62,240,71.32,233.54,43.48,211.13,19.79,173.42.9a8.51,8.51,0,0,0-11.5,4c-11,23.4-20.7,46.53-18,72.18,3.06,29.38,22.28,56.38,58.76,82.55a8.38,8.38,0,0,0,2.27,1.15c-1.22,18.58-4.89,34.48-10.75,46.38a3.5,3.5,0,0,0,1.59,4.69,3.59,3.59,0,0,0,1.55.36,3.51,3.51,0,0,0,3.14-1.95c6.39-13,10.34-30.23,11.55-50.27a8.38,8.38,0,0,0,2.32-2.06c.42-.54.86-1.11,1.3-1.7Zm-3.74-24.92C210.31,107,205.15,83,197.49,65.55a3.5,3.5,0,1,0-6.41,2.81c8.26,18.84,13.49,45.66,14.22,72C177.71,119,163.13,97.68,160.8,75.3c-1.93-18.58,4.49-36.74,12.77-55.11,28.27,15.67,45.05,34.14,49.9,55C228.17,95.33,221.22,115.24,211.88,131.29Z"/>
                            </svg>
                            <p>Salate</p>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="" class="nav-link">
                            <svg class="svg-nav-icon" id="french-fries" viewBox="0 0 512 512">
                                <path transform="scale(1.1) translate(-20, -70)"
                                      d="M288.8126,361.6717c-10.2782-5.5042-23.4442-8.8085-37.7993-8.8085-32.8812,0-59.5445,17.3367-59.5445,38.7337,0,17.2007,17.2348,31.7853,41.0864,36.8394a89.2137,89.2137,0,0,0,18.4581,1.8942c32.89,0,59.5529-17.3367,59.5529-38.7336C310.5662,379.535,302.0974,368.7729,288.8126,361.6717Z"/>
                                <path transform="scale(1.1) translate(-20, -70)"
                                      d="M450.93,88.61q-11.9248-7.935-23.85-15.88a7.7008,7.7008,0,0,0-5.09-1.25h-.06l-19.26,2.09a7.7158,7.7158,0,0,0-6.39,3.54q-8.2467,12.7982-15.7038,26.0177Q367.998,96.5784,355.42,90.02a7.6993,7.6993,0,0,0-5.19-.71h-.01a.0759.0759,0,0,1-.04.01l-4.77,1.04q5.31-15.795,11.74-31.26a7.7171,7.7171,0,0,0-4.04-10.06q-13.14-5.715-26.27-11.43a7.6767,7.6767,0,0,0-5.24-.33h-.01c-.01,0-.02.01-.04.01l-18.57,5.45a7.7125,7.7125,0,0,0-5.69,4.62q-9.2831,22.24-16.4367,45.15Q278.0855,69.0031,274.32,45.6a7.0952,7.0952,0,0,0-4.31-5.51q-7.29-4.5-14.6-8.84a6.3766,6.3766,0,0,0-4.59-.94Q232.1,33.655,213.37,37a6.6591,6.6591,0,0,0-5.35,7.7q3.8935,22.62,6.7881,45.3676Q207.9227,68.437,199.15,47.36a7.72,7.72,0,0,0-5.78-4.63c.04.01.09.01.13.02l-18.61-5.46c-.02,0-.03-.01-.04-.01h-.01a7.6766,7.6766,0,0,0-5.24.33q-13.125,5.715-26.27,11.43a7.717,7.717,0,0,0-4.04,10.06q6.1215,14.6969,11.2088,29.7239s-1.39-.129-2.6938-.2511a11.08,11.08,0,0,0-4.8106.6094,16.7149,16.7149,0,0,0-1.9744.8378q-12.576,6.548-25.1524,13.1058Q108.4135,89.9129,100.16,77.11a7.6851,7.6851,0,0,0-6.47-3.53c.02,0,.05-.01.08-.01L74.51,71.48h-.06a7.7,7.7,0,0,0-5.09,1.25Q57.4349,80.665,45.51,88.61A7.7281,7.7281,0,0,0,43.3,99.22a477.7673,477.7673,0,0,1,42.52,82.9,29.9038,29.9038,0,0,0-5.29,16.49,34.0118,34.0118,0,0,0,.69,6.53c.1655.6352.3568,1.37.5719,2.1673L126.46,446.1782c4.1,27.4635,57.9711,49.2039,123.8451,49.2039,65.8836,0,119.7544-21.74,123.8547-49.2039l44.8218-239.6921q.1918-.538.3284-1.0361a35.1245,35.1245,0,0,0,.74-6.84c0-7.03-2.79-13.8-7.97-20.15a478.5127,478.5127,0,0,1,41.06-79.24A7.7282,7.7282,0,0,0,450.93,88.61ZM283.11,113.34a510.3506,510.3506,0,0,1,21.46-62.65q12.8847,5.595,25.77,11.21a485.3722,485.3722,0,0,0-26.11,83.4c.9919-2.587-10.8613,30.0739-16.148,49.457.0244-.1014.0406-.2071.068-.307q-1.0453-40.6823-5.0592-81.2251C283.0957,113.2651,283.106,113.2987,283.11,113.34Zm10.3921,92.1635A515.5617,515.5617,0,0,1,332.2938,101.5q6.2,3.2281,12.4,6.461,6.2658,3.2661,12.5277,6.5277A484.18,484.18,0,0,0,308.1421,284.103c-7.705,6.1813-17.7942,11.0506-29.3632,14.0146h0A515.6149,515.6149,0,0,1,293.5021,205.5035ZM266.58,47.87A1109.6508,1109.6508,0,0,1,280.5,226.32c.016-.0776.0411-.15.0588-.227a522.7669,522.7669,0,0,0-9.9058,73.7464h0A108.2416,108.2416,0,0,1,252.6,301.3423c-3.4438,0-6.8263-.1676-10.14-.474A1075.3711,1075.3711,0,0,0,231.82,53.68Q249.19,50.77,266.58,47.87Zm-74.71,2.82a514.0627,514.0627,0,0,1,28.17,90.2646,1052.6512,1052.6512,0,0,1,2.3872,123.972,522.7974,522.7974,0,0,0-30.23-119.62A485.0576,485.0576,0,0,0,166.1,61.9Q178.97,56.29,191.87,50.69Zm-40.1553,57.2875q6.2115-3.2379,12.4314-6.4776a515.6824,515.6824,0,0,1,38.5664,103.1273,515.8571,515.8571,0,0,1,14.7589,90.718c-14.2972-5.26-30.7622-22.4662-30.3523-21.8579a485.2857,485.2857,0,0,0-47.9-158.9987Q145.4669,111.2354,151.7147,107.9775ZM70.19,97.26q11.7-7.8,23.4-15.58,9.5818,14.89,18.1346,30.4407a7.8158,7.8158,0,0,0,.5553,1.4593,478.4928,478.4928,0,0,1,44.7809,139.3247,241.536,241.536,0,0,1-23.3624-7.201A484.8283,484.8283,0,0,0,105.95,163.69,487.2843,487.2843,0,0,0,70.19,97.26ZM361.3813,443.7886q-.0437.2343-.0788.47c-1.2225,8.1883-12.994,17.6708-30.7207,24.7468-21.61,8.6262-50.1192,13.3768-80.2766,13.3768-30.1532,0-58.66-4.7506-80.268-13.3767-17.726-7.0762-29.4972-16.5587-30.72-24.7469q-.0351-.2357-.0789-.47L102.1361,245.3768c15.8451,9.2841,37.0568,17.0393,61.3754,22.4368a14.6248,14.6248,0,0,1,9.74,7.7483c6.0294,11.7182,16.9555,21.5969,31.5969,28.5678,14.0325,6.6811,30.5447,10.2126,47.7516,10.2126,17.4335,0,34.1247-3.616,48.2692-10.457,14.8019-7.1589,25.7151-17.2779,31.56-29.263a14.6575,14.6575,0,0,1,9.6971-7.9682c22.1885-5.309,41.61-12.6469,56.3576-21.28Zm.9822-196.466c-7.2048,2.4649-14.9492,4.6952-23.154,6.6617A478.5078,478.5078,0,0,1,384.16,113.58a7.7881,7.7881,0,0,0,.552-1.4456q8.5459-15.5368,18.1408-30.4548,11.6934,7.781,23.3949,15.5769A484.7969,484.7969,0,0,0,362.3635,247.3226Z"/>
                            </svg>
                            <p>Pomfri</p>
                        </a>
                    </div>
                </li>
                <div class="split-menu-and-login"></div>
                <li class="nav-item-group nav-item-group-info">
                    <div class="nav-item nav-item-shopping-card">
                        <a href="#" class="nav-link nav-link-shopping-card">
                            <svg class="svg-nav-icon" id="cart" viewBox="-5 -2 26 26">
                                <path d="M20.756,5.345C20.565,5.126,20.29,5,20,5H6.181L5.986,3.836C5.906,3.354,5.489,3,5,3H2.75c-0.553,0-1,0.447-1,1    s0.447,1,1,1h1.403l1.86,11.164c0.008,0.045,0.031,0.082,0.045,0.124c0.016,0.053,0.029,0.103,0.054,0.151    c0.032,0.066,0.075,0.122,0.12,0.179c0.031,0.039,0.059,0.078,0.095,0.112c0.058,0.054,0.125,0.092,0.193,0.13    c0.038,0.021,0.071,0.049,0.112,0.065C6.748,16.972,6.87,17,6.999,17C7,17,18,17,18,17c0.553,0,1-0.447,1-1s-0.447-1-1-1H7.847    l-0.166-1H19c0.498,0,0.92-0.366,0.99-0.858l1-7C21.031,5.854,20.945,5.563,20.756,5.345z M18.847,7l-0.285,2H15V7H18.847z M14,7    v2h-3V7H14z M14,10v2h-3v-2H14z M10,7v2H7C6.947,9,6.899,9.015,6.852,9.03L6.514,7H10z M7.014,10H10v2H7.347L7.014,10z M15,12v-2    h3.418l-0.285,2H15z"/>
                                <circle cx="8.5" cy="19.5" r="1.5"/>
                                <circle cx="17.5" cy="19.5" r="1.5"/>
                            </svg>
                            <p>Idi u košaricu</p>
                        </a>
                    </div>
                    <div class="nav-item nav-item-login-register">
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="nav-link">
                                <svg class="svg-nav-icon" id="login" viewBox="-13 -5 42 42">
                                    <path d="M27,3V29a1,1,0,0,1-1,1H6a1,1,0,0,1-1-1V27H7v1H25V4H7V7H5V3A1,1,0,0,1,6,2H26A1,1,0,0,1,27,3ZM10.71,20.29,7.41,17H18V15H7.41l3.3-3.29L9.29,10.29l-5,5a1,1,0,0,0,0,1.42l5,5Z"/>
                                </svg>
                                <p>{{ user.username }}</p>
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}" class="nav-link">
                                <svg class="svg-nav-icon" id="login" viewBox="-13 -5 42 42">
                                    <path d="M27,3V29a1,1,0,0,1-1,1H6a1,1,0,0,1-1-1V27H7v1H25V4H7V7H5V3A1,1,0,0,1,6,2H26A1,1,0,0,1,27,3ZM12.29,20.29l1.42,1.42,5-5a1,1,0,0,0,0-1.42l-5-5-1.42,1.42L15.59,15H5v2H15.59Z"/>
                                </svg>
                                <p>Prijava</p>
                            </a>
                        {% endif %}

                    </div>
                    <div class="nav-item-contact">
                        <p class="contact-description">Nazovi&nbsp;i&nbsp;naruči</p>
                        <a href="tel:00385918960399" class="contact-number">091&nbsp;896&nbsp;0399</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <div class="info main-grid">
        {% for message in messages %}
            <div class="message message-{{ message.tags }}" id="message_{{ forloop.counter0 }}">
                <p class="message-text">{{ message }}</p>
                <button type="button"><span>&times;</span></button>
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
</main>

<footer class="footer main-grid">
    <div class="footer-main">
{#        <img class="footer-logo" src="{% static 'img/logo.png' %}" alt="Logo">#}
        <p class="footer-text">Aplikacija za narudžbu i dostavu hrane.</p>
        <p class="footer-fineprint">© Jumbara 2021</p>
    </div>
    <ul class="social-list">
        <li class="social-item">
            <a href="#" class="social-link">
                <i class="fab fa-facebook-square"></i>
            </a>
        </li>
        <li class="social-item">
            <a href="#" class="social-link">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li class="social-item">
            <a href="#" class="social-link">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
    </ul>
</footer>


<script>
    const closeButton = document.querySelector(".close-nav-btn");
    const openButton = document.querySelector(".open-nav-btn");
    const nav = document.querySelector(".nav");

    closeButton.addEventListener("click", () => {
        nav.classList.remove("navigation-open");
    });

    openButton.addEventListener("click", () => {
        nav.classList.add("navigation-open");
    });

    // close message on x btn click
    const messages = document.querySelectorAll("[id^=message_]");
    if (messages.length !== 0) {
        for (let i in messages) {
        let message = messages[i];
        let messageCloseButton = message.querySelector("button span");
        messageCloseButton.addEventListener("click", () => {
            message.style.display = "none";
        });
    }
    }
</script>
{% block scripts %}{% endblock %}
</body>
</html>
