* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #404040;
    line-height: 1.6;
    text-align: justify;
    --main-color: #c00927;
}

/*:root {*/
/*  */
/*}*/

/* ==================
    general layout
===================== */

.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0, 1000px) minmax(1em, 1fr);
}


/* header */

.header {
    background: var(--main-color);
    height: 4rem;
}

.header-content {
    display: flex;
    grid-column: 2 / -2;
}

/* navigation */

.logo-link {
    position: relative;
    padding-left: 10em;
}

.logo-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo-svg .small {
    font-size: 1.6rem;
    font-weight: bold;
    fill: #8da93d;
}

.logo-svg .name {
    font-family: 'Erica One', cursive;
    fill: white;
    font-size: 2.5rem;
    transform: rotate(-5deg);
}

.open-nav-btn {
    border: 0;
    background: 0;
    color: white;
    cursor: pointer;
    padding: 0 5px 5px 15px;
    margin-left: auto;
    font-size: 1.8em;
    outline: 0;
}

.nav {
    position: fixed;
    z-index: 1;
    background: var(--main-color);
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transform: translateX(0);
    transition: transform 250ms;
}

.navigation-open {
    transform: translateX(-100%);
}

.close-nav-btn {
    position: absolute;
    right: .35em;
    border: 0;
    background: 0;
    color: white;
    font-weight: 400;
    font-size: 3rem;
    cursor: pointer;
    padding: 8px 2px 0 13px;
    outline: 0;
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.nav-item {
    width: 10em;
    margin: 0 auto 1.4em;
}


.nav-item-group-products .nav-item {
    margin-left: 1.2em;
    opacity: 1;
    transition: opacity 100ms ease-in-out;
}

.nav-item-group-products .nav-item:hover {
    opacity: 0.8;
}

.nav-item-group-products .nav-item:last-child {
    margin-bottom: -1em;
}

.nav-link {
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.nav-link p {
    font-size: 1.1rem;
    padding-left: 1em;
}

.split-menu-and-login {
    background-color: white;
    opacity: 0.3;
    width: 50%;
    min-width: 200px;
    max-width: 250px;
    height: 1px;
}

.contact-description {
    color: #ffaf01;
    font-size: 0.85em;
    text-align: center;
    margin: 0;
    padding: 0;
}

.contact-number {
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 0 0 -0.3em 0;
    text-decoration: none;
}

.nav-item-shopping-card {
    margin-top: 0;
}

.nav-link-shopping-card {
    width: 4em;
    height: 4em;
    background-color: #8da93d;
    border-radius: 50%;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin: 0 auto;
    transition: background-color 200ms ease-in-out;
}

.nav-link-shopping-card p {
    display: none;
    transition: color 200ms ease-in-out;
}

.svg-nav-icon {
    fill: white;
    width: 3em;
    max-width: 3em;
    height: 4em;
    transition: fill 200ms ease-in-out;
}

.nav-link-shopping-card:hover {
    background-color: white;
}

.nav-link-shopping-card:hover .svg-nav-icon,
.nav-link-shopping-card:hover p {
    fill: #8da93d;
    color: #8da93d;
}

.nav-item-login-register .svg-nav-icon {
    width: 2.5em;
    max-width: 2.5em;
    margin: 0 -0.5em 0 1em;
}


@media (min-width: 725px) {
    .header {
        height: initial;
        padding: 0.3em 0 0;
    }

    .header-content {
        position: relative;
        margin: 1.4rem 0 1.4rem;
    }

    .logo-link {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 11em;
        height: 4.4em;
        margin-top: 1.1em;
    }

    .logo-svg .small {
        transition: transform 300ms ease-out;
    }

    .logo-svg .name {
        transition: transform 300ms ease-in-out;
    }

    .logo-svg:hover .small {
        transform: translateX(2.3em);
    }

    .logo-svg:hover .name {
        transform: rotate(0);
    }

    .nav {
        position: initial;
        background: var(--main-color);
        transition: transform 0ms;
    }

    .navigation-open {
        transform: translateX(0);
    }

    .open-nav-btn,
    .close-nav-btn {
        display: none;
    }

    .nav-list {
        flex: 1 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 7em auto 7em;
        margin: 0;
    }

    .nav-item-group {
        display: flex;
    }

    .nav-item-group-info {
        order: 1;
        grid-column: 1 / -1;
        justify-self: end;
        display: grid;
        grid-template-columns: 1fr 1fr 0.6fr;
        justify-items: center;
    }

    .nav-item-shopping-card {
        order: 3;
    }

    .nav-item-login-register {
        order: 2;
    }

    .nav-item-contact {
        order: 1;
    }

    .nav-item-group-products .nav-item {
        margin: 0 1em 0;
    }

    .nav-item-group-products .nav-item:last-child {
        margin-bottom: 0;
    }

    .split-menu-and-login {
        order: 2;
        grid-column: 1 / -1;
        opacity: 0.2;
        width: initial;
        max-width: initial;
    }

    .nav-item-group-products {
        order: 3;
        grid-column: 1 / -1;
        justify-self: center;
    }

    .nav-item {
        width: initial;
        margin: 0;
    }

    .contact-description {
        margin: 0.5em 0 -0.5em;
    }

    @keyframes pulse {
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
}


@media (min-width: 870px) {
    .nav-link-shopping-card {
        width: 12em;
        text-align: center;
        line-height: 2.5em;
        border-radius: 2em;
        margin: 0 auto;
        padding: 0 0.5em;
    }

    .nav-link-shopping-card p {
        display: initial;
        font-size: 0.85rem;
    }

    .logo-link {
        width: 13.64em;
        height: 5.45em;
        margin-top: 0.625em;
    }

    .nav-item-login-register .svg-nav-icon {
        width: 2.5em;
        max-width: 2.5em;
        margin-left: -1.5em;
    }
}

/* messages */

.message {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    color: white;
    width: 100%;
    margin-top: 0.5em;
    padding: 0 1.5em;
    border-radius: 1.7em;
    background-color: #8da93d; /*rgba(141, 169, 61, 0.56);*/
    /*background-color: rgba(141, 169, 61, 0.56);*/
}

.message-warning {
    background-color: #dcc507;
}

.message-error {
    background-color: var(--main-color);
}

.message button {
    margin-left: 2rem;
    padding: 0;
    border: 0;
    background: 0;
    color: white;
    font-weight: 400;
    font-size: 2rem;
    outline: 0;
}

.message button span {
    cursor: pointer;
}


/* footer */

.footer {
    background: var(--main-color);
    padding: 4em 0;
    text-align: center;
}

.footer-main,
.social-list {
    grid-column: 2 / -2;
}

.social-list {
    display: flex;
    order: -1;
    list-style: none;
    padding: 0;
    margin: 0 0 2em;
    justify-content: center;
}

.social-link {
    color: #000;
    font-size: 1.75rem;
    margin: 0 .5em;
}

.social-link:hover {
    color: #777;
}

.footer-logo,
.footer-text,
.footer-fineprint {
    opacity: .6;
}

.footer-fineprint {
    font-size: .75rem;
    margin-top: 4em;
}

.footer-logo {
    width: 200px;
}


h1, h2, strong {
    font-weight: 700;
}

.info > * {
    grid-column: 2 / -2;
}

.footer-main > * {
    grid-column: 2 / -2;
}