body {
    color: white;
}

.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vw;
    left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

.main-img p {
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    padding: 0.5em 1em;
    border-radius: 1em;
    font-size: 3.5vw;
    font-weight: 700;
}

.img-pizza {
    background-image: url("/static/img/main_pizza.jpg"); /*, linear-gradient(90deg, white, #8d8d8d);*/
    background-position: center right;
    background-size: cover;
    background-blend-mode: multiply;
}

.img-pizza p {
    margin-right: 60%;
}

.img-oven {
    background-image: url("/static/img/pizza_oven.jpg");
    background-position: center;
    background-size: cover;
}

.img-oven p {
    margin-bottom: 7em;
    margin-left: 7em;
}

@media (min-width: 550px) {
    .main-img {
        height: 50vw;
        max-width: calc(100vw - 8px);
        width: calc(100vw - 8px);
        background-position: center right;
    }

    .main-img p {
        font-size: 2.5vw;
    }

    .img-pizza p {
        margin-right: 50%;
    }

    .img-oven p {
        margin-bottom: 9em;
        margin-left: 9em;
    }
}